# Modify as appropriate below and rename to .Renviron

# local onedrive path to each the telemetry files/folders
xboxDataPath = "" # found at `OII Games Research/Platform study/Study Planning/Registered Report/SampleData/Xbox/oii_data_2022_07_01.txt`
steamDataPath = "" # found at `OII Games Research/Platform study/Study Planning/Registered Report/SampleData/Steam/steam_updated_reshaped_file.csv`
screenshotsPath = "" # found at `OII Games Research/Platform study/Study Planning/Registered Report/SampleData/iOS`
androidDataPath = "" # found at `OII Games Research/Platform study/Study Planning/Registered Report/SampleData/Android/aw-buckets-export-1.json`

# Qualtrics API key and base url
# Find these at Qualtrics account settings page
# If you don't have an API key, you can use Nick's (just ask him)
QUALTRICS_API_KEY=""
QUALTRICS_BASE_URL="fra1.qualtrics.com"
QUALTRICS_INTAKE_SURVEY_ID="SV_6hY68MzgBLE54LY"
QUALTRICS_PANEL_SURVEY_ID="SV_8wZ57koQLdwVN1c"
QUALTRICS_DIARY_SURVEY_ID="SV_bQM6eIztcYJDW3s"
